.side-nav-active {
  color: var(--primary-400);
}


.btn-page-nav {
	width: 40px;
	height: 40px;
	border-radius: 0px; /* 設定按鈕為直角 */
}

.page-nav-active {
	background-color: var(--primary-300);
}


