<!-- 上方導覽列 -->
<nav class="container py-16 d-flex justify-between align-center">
	<!-- 左方元件 -->
	<ul class="d-flex align-center">
		<!-- logo 圖片 (連結到首頁) -->
		<li>
			<a href="index.html">
				<img src="../assets/images/logo.svg" alt="logo 圖片">
			</a>
		</li>
		<!-- 文字連結 -->
		<li class="ml-48 tg-label">
			<a href="product_list.html" class="py-12 neutral-900 td-none d-none-sm">商品列表
			</a>
		</li>
		<li class="ml-40 tg-label">
			<a href="story.html" class="py-12 neutral-900 td-none d-none-sm">品牌故事
			</a>
		</li>
	</ul>

	<!-- 右方元件 -->
	<a href="#" class="p-12"><i class="bi bi-person"></i></a>
</nav>