/* 進行 CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 設定 box-sizing 為 border-box，讓寬度包含 padding 與 border */
*, *::before, *::after {
  box-sizing: border-box;
}


/* 在根元素設定顏色樣式變數 */
:root {
	/* 主色調 */
	--primary-100: ; 
	
	/* 中性色調 */
	--neutral-0: #ffffff;
}


/* 設定 Typography 字體樣式 (不一定和 html 標籤對應) */
.h1 {
	font-style: 20px;
	line-height: 1.2;
}

.p {
	font-style: 16px;
	line-height: 1.5;
}



/* 設定內外距排版 */
/* 元件內距 */

/* 元件外距 */
.mt-24 {
	margin-top: 24px; /* 上方外距 */
}


/* 設定區塊樣式 */
.container {
  display: flex;
  align-items: center; /* 垂直置中，可依需求調整 */
  gap: 20px;           /* 圖片間距，可依需求調整 */
}

.col-flex {
  display: flex;
  flex-direction: column; /* 垂直分布 */
  gap: 24px;              /* 圖片間距，可依需求調整 */
  align-items: center;    /* 置中（可選） */
}

.row-flex {
	display: flex;
	gap: 20px; /* 圖片間距，可依需求調整 */
	align-items: center; /* 水平置中 */
}

.text-box {
	width: 288px;
	height: 96px;
}

.footer {
	width: 640px;
	height: 120px;
	background-color: gray;

	display: flex;
  justify-content: center; /* 水平置中 */
  align-items: center;     /* 垂直置中 */
	text-align: center;      /* 文字多行時也置中 */
}

/* 原子化設計 */

