// 源自 layout.css 的表尾區塊樣式

.discount-banner {
	background-color: var(--primary-200);
	padding: 33.5px;
	/* text-align: center; */
}

.footer {
  background-color: var(--neutral-100);
  padding: 64px 0;
}