/* 進行 CSS reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 設定 box-sizing 為 border-box，讓寬度包含 padding 與 border */
*, *::before, *::after {
  box-sizing: border-box;
}


/* 在根元素設定顏色樣式變數 */
:root {
	/* 主色調 */
	--primary-100: #f5fee7; 
	--primary-400: #57a203; 
	
	/* 中性色調 */
	--neutral-0: #ffffff;
	--neutral-100: #f8f9fa;
	--neutral-300: #dee2e6; 
	--neutral-600: #6c757d;
	--neutral-900: #212529;
}



/* 設定 Typography 字體樣式 (不一定和 html 標籤對應) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');


.tg-H1 {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 40px;
	line-height: 120%;
	letter-spacing: 5%;
	text-align: center;
	color: var(--neutral-0);
}

.tg-H3 {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 28px;
	line-height: 120%;
	letter-spacing: 5%;
	text-align: center;
	color: var(--neutral-0);
}

.tg-H4 {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 24px;
	line-height: 120%;
	letter-spacing: 5%;
	color: var(--neutral-900);
}

.tg-H5 {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 700;
	font-style: bold;
	font-size: 20px;
	line-height: 120%;
	letter-spacing: 5%;
	color: var(--primary-400);
}

.tg-p-md {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 400;
	font-style: regular;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 5%;
	color: var(--neutral-900);
}

.tg-label {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 500;
	font-style: medium;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 5%;
	color: var(--primary-400);
}

.tg-p-sm {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 400;
	font-style: regular;
	font-size: 14px;
	line-height: 150%;
	letter-spacing: 5%;
	color: var(--neutral-600);
}


/* 設定排版 */
.ta-center {
	text-align: center;
}

/* .ml--110 {
	margin-left: -110px;
}

.mr-110 {
	margin-right: 110px;
} */


/* 元件內距 */
.py-8 {
	padding-top: 8px;
	padding-bottom: 8px;
}

.pl-8 {
	padding-left: 8px;
}

.pr-8 {
	padding-right: 8px;
}

.pl-12 {
	padding-left: 12px;
}

.pl-24 {
	padding-left: 24px;
}

.pb-48 {
	padding-bottom: 48px;
}

.py-151 {
	padding-top: 151px;
	padding-bottom: 151px;
}


/* 元件外距 */
.mr-8 {
	margin-right: 8px;
}

.mt-12 {
	margin-top: 12px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mt-16 {
	margin-top: 16px;
}

.mt-24 {
	margin-top: 24px;
}

.mt-48 {
	margin-top: 48px;
}

.mt-64 {
	margin-top: 64px;
}



/* 區塊樣式 */
.header {
  background-image: url('../img/hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	width: 856px;
	margin: 0 auto; /* 設定容器水平置中 */
}

.section1 {
	border-radius: 12px;
	padding: 32px;
	gap: 12px;
  background-color: var(--primary-100);
}

.pic1 {
	/* width: auto; */
	width: 1076px;   /* 寫死寬度，有其他寫法？ */
	border-bottom: 1px;
	gap: 24px;

	margin-left: -110px;
	margin-right: -110px;
}

.footer {
	background-color: var(--neutral-100);
	padding: 64px 0;
}



/* 原子化設計 */
.bb-section-1px {
	border-bottom: 1px solid var(--neutral-300);
}

.bb-lebel-1px {
	border-bottom: 1px solid var(--primary-400);
	padding-bottom: 4px;   /* 設定底線距離 4px */
}

.bl-black-1px {
	border-left: 1px solid var(--neutral-900);
}



.lst-disc {
	list-style-type: disc;
}
/*調整圓點大小 (替代寫法?) */
ul.lst-disc li::marker {
  font-size: 10px;
}


.bl-gray-3px {
	border-left: 3px solid var(--neutral-300);
}
