.big-pic {
	/* width: 10%; 設定圖片寬度為容器寬度 */
	width: calc(50% - (8px)/2);
	height: fit-content; /* 高度自動調整 */
}

.small-card {
	width: 64px;
	display: flex;
	flex-direction: column;
	align-items: center;  /* 主軸置中 */
}



.btn-size-select {
	/* 設定3等分，但是 除以3 會跑版 (?) */
	width: calc((100%/3.04) - (8px)/2); 
	min-height: 48px;
	background-color: var(--neutral-0);
	color: var(--neutral-900);
	border: 1px solid var(--neutral-300);
}

/* 指定同時具有 btn-size-select 與 active 的樣式 */
.btn-size-select.active {
	border: 1px solid var(--neutral-900);
}

.btn-size-select.unavailable {
	border: 1px solid var(--neutral-300);
	color: var(--neutral-500);  /* 設定文字顏色 */
}


.btn-customer-action {
	width: calc((100%/2) - (8px)/2);
	min-height: 48px;
	border: 1px solid var(--neutral-900);
}

.black-style {
	/* color: var(--neutral-900); */
	background-color: var(--neutral-900);
	color: var(--neutral-0);
}